/obj
/mat
/lib
/bin/project_d.exe
/bin/project_d.ilk
/bin/project_d.pdb
/bin/log.txt
/bin/Project.exe
/bin/Project.pdb
/bin/Project_d.exe
/bin/Project_d.ilk
/bin/Project_d.pdb
/code/Engine.v12.suo
/code/Core/t.cpp
/code/Core/t.h
/code/Renderer/t.cpp
/code/Renderer/t.h
/bin/Test_d.exe
/bin/Test_d.ilk
/bin/Test_d.pdb
/code/ThirdParty
/bin/Project.iobj
/bin/Project.ipdb
/bin/Test.exe
/bin/Test.iobj
/bin/Test.ipdb
/bin/Test.pdb
/code/.vs